
<h2>Contact Us</h2>

<ul>
  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
</ul>

Office Locations: 1725 Walls Ln. Hartselle, Alabama 35640

@copy2018 JustForYouCoach

<ul>
  <li><a href="{{ site.twitter }}">Twitter</a></li>
  <li><a href="{{ site.facebook }}">Facebook</a></li>
  <li><a href="{{ site.instagram }}">Instagram</a></li>
</ul>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13159.185732681146!2d-86.904373!3d34.457315!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88882ab28d58764f%3A0xc9a305828b1ca2a4!2sJust+For+You+Coach!5e0!3m2!1sen!2sus!4v1524250382695"
  width="204" height="152" frameborder="0" style="border:0" allowfullscreen></iframe>
