// config-colors.scss      ~/styles/
/////////////////////////////////////////////////////////////////////

$black: #000000;
$venice: #284f75;
$mine: #333;
$bleu: #3498db;
$mercury :#e6e6e6;
$cadmium: #e98532;
$white: #ffffff;

$primary: $cadmium;
$accent: $venice;